<h1> Add Space </h1>

<body>
  <form action="/spaces/add" method="post">
    <label for="space_name">
      Space name:
      <input type="text" name="space_name"
      placeholder="Add space name">
    </label>
    <input type="submit" name = "Add Space" value="Add Space">
  </form>
</body>
