<h1> Add Space </h1>

<form action="/spaces" method="post">
  <label for="space name">
    Space name:
    <input type="text" name="space name"/>
  </label>
  <input type="submit" value="Add Space">
</form>
